<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<!-- Below I inserted formatted information to get to know me -->
<h1> Information about me </h1>

<h2> Where am I from? </h2>
    <p> I am from <strong>upstate</strong> <em>New York.</em></p>
<h2> What do I like to do for fun? </h2>
    <p> I like to go <em>skiing</em> for <strong>fun.</strong> </p>
<p> My favorite foods:</p>
<ul>
    <li>pasta</li>
    <li>pizza</li>
    <li>fruit</li>
    <li>sushi</li>
</ul>

<p> My favorite things</p>
<ol>
    <li>Mom</li>
    <li>Dad</li>
    <li>Roommates</li>
</ol>
<table>
    <tr>
        <th>Courses:</th>
        <th>Semester Taken:</th>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 2023</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Fall 2022</td>
    </tr>
</table>
<!-- Below I linked webpages for my viewers -->
<p> A link to the <a href="/hello">hello</a> world page.</p>
<p> A link to <a href="https://www.mindbodygreen.com/" target=" _blank"> my favorite website. </a></p>
<p> A link to another <a href="https://www.npr.org/"> of favorite websites. </a></p>
<!-- Below I inserted an image -->
<p> Here is a picture of my school logo:</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" />
</body>
</html>